@import "sass/abstract/variables";
@import "sass/abstract/mixins";
.row {
  max-width: $grid-width;
  width: 100%;
  @include clearfix;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }
  margin: 0 auto;
  [class^="col-"] {
    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
    float: left;
  }
  @for $i from 1 to 12 {
    .col-#{$i} {
      @include columnWidth($i);
    }
  }
}
