.card_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card_container > span {
  display: flex;
  align-items: center;
  margin: 0;
}
.modal_container {
  width: 30%;
  height: 50%;
  background-color: white;
  border-radius: 5px;
  outline-style: none;
}
.form_container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.form_container > form {
  width: 90%;
}
.modal_container > h2 {
  margin-left: 20px;
}
.form_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form_title > input {
  font-size: 20px;
  outline-style: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid magenta;
}
.form_button {
  margin: 30px auto;
  width: fit-content;
}

.form_title > textarea {
  outline-style: none;
  width: 100%;
  border: none;
  border-bottom: 1px solid magenta;
}
.todo_headers {
  width: 70%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
}
.todo_data {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.todo_table {
  width: 80vw !important;
  margin: 60px auto;
}
